:root {
    /* TYPOGRAPHY */
    --font-family: Georgia, Cambria, san-serif;
    --text-color: #000;

    /* HEADER */
    --header-bgcolor: #5592a7;
    --header-text-color: white;

    /* HYPERLINK */
    --a-color: #22505f;
    --a-font-weight: normal;
    --a-text-decoration: none;

    --a-hover-color: #0b2933;
    --a-hover-text-decoration: none;

    /* BUTTONS */
    --button-border-radius: 0;
    --button-text-color: #5592a7;
    --button-bgcolor: white;
    --button-border-color: #5592a7;
    --button-hover-bgcolor: #f0f0f0;

    --button-primary-text-color: white;
    --button-primary-bgcolor: #5592a7;
    --button-primary-border-color: #5592a7;
    --button-primary-hover-bgcolor: #386472;
    --button-primary-focus-border-color: #386472;

    --button-secondary-text-color: white;
    --button-secondary-bgcolor: #8faab3; 
    --button-secondary-border-color: #8faab3; 
    --button-secondary-hover-bgcolor: #738d96; 
    --button-secondary-focus-border-color: #738d96; 

    --select-border: 1px solid #5592a7;
    --select-color: #5592a7;
}