@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url(native.css);
.active {
  color: green; }

figure.highlight {
  font-size: 0.813rem;
  border: 1px solid #b0cadb;
  padding: 0 10px;
  border-radius: 5px; }
