@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap");
@import url(native.css);
body {
  color: #444; }

.active {
  color: green; }

figure.highlight {
  font-size: 0.813rem;
  border: 1px solid #b0cadb;
  padding: 0 10px;
  border-radius: 5px; }

.pure-g [class*=pure-u] {
  font-family: 'Open Sans', Georgia, "Cambria", sans-serif; }
