header {
	position: absolute;
	top: 0px;
	width: 100%;
	margin: 0;
}

.header-logo {
	display: inline-block;
	font-size: 22px;
	width: 20%;
	padding: 10px;
	font-weight: 600;
}

.header-misc {
	font-size: 12px;
	width: 100%;
	height: 25px;
	padding: 5px 0 5px 0;
	display: flex;
	align-items: center;
	background-color: white;

	&.dark {
		background-color: black;
		color: white;

		a {
			color: white;
		}
	}

	&.light {
		background-color: black;
		color: white;
	}

	a {
		color: black;
		text-decoration: underline;
		font-weight: 700;
	}

	.latest, .localized {
		flex: 1;
		text-align: center;
	}

	.localized {
		justify-content: space-evenly;
		display: flex;
		max-width: 250px;

		.icon {
			padding: 0 10px;
		}

		.country {
			border: 1px solid;
			padding: 0 10px;
			font-weight: 600;
		}
	}
}

@media only screen and (min-width: 909px) {
    .header-misc {
        .localized {
            display: flex;
        }
    }
}

@media only screen and (max-width: 908px) {
    .header-misc {
        .localized {
            display: none;
        }
    }
}

@import "navigation";