$error-color: #cc0000;
$form-border-color: #808080;

//***********************/
// BUTTONS
//**********************/

@mixin btn() {
	padding: 10px;
	border: 0;
	outline: 0;
	min-width: 100px;
	font-size: 13px;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
textarea {
	padding: 10px;
	width: 100%;
	outline: none;
	border: 1px solid $form-border-color;

	&:focus {
		border-color: #000;
	}

	&:not(:focus).error {
		//border-color: #7a7a7b;
		border-color: $error-color;
	}
}

.form-input {
	position: relative;
	padding: 15px 0px 15px 0px;

	.error-label {
		position: absolute;
		color: $error-color;
	}
}

.btn-primary {
	@include btn();

	background-color: #000;
	color: #fff;

	/*&:hover, &:disabled {
		background-color: #333;
	}*/

}

.btn-default {
	@include btn();

	background-color: #fff;
	border: 1px solid $form-border-color;

	&:hover, &:disabled {
		border-color: #979797;
	}

}