<!DOCTYPE html>
<html>
<head>
	<title>Footer</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" type="text/css" href="assets/css/header-footer.css">
</head>
<body>
<header>
	<div class="additional-nav">
		Store Locator | United States
	</div>
	<div class="logo">NORDSTROM</div>
	<nav>
		NEW ARRIVALS Women Men Kids Home Beauty Sale
	</nav>
	<div>Search My Account Bag</div>
</header>
<main></main>
<footer>
	<div class="links">Testing</div>
	<div class="legal">Privacy Terms & Conditions Disclaimer</div>
</footer>
</body>
</html>