<!DOCTYPE html>
<html>
<head>
	<title>Footer</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" href="assets/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/main.css">
</head>
<body>
<header>
	<div class="additional-nav">
		<div>Want to purchase a gift? Try our <a href>e-Giftcards</a></div>
		<div>
			<span><i class="fas fa-map-marker-alt" aria-hidden="true"></i> Store Locator</span>|
			<span>United States</span>
		</div>
	</div>
	<div class="main-nav">
		<div class="logo">NORDSTROM</div>
		<div class="navigation">
			<nav>
				<ul>
					<li>NEW ARRIVALS</li>
					<li>Women</li>
					<li>Men</li>
					<li>Kids</li>
					<li>Home</li>
					<li>Beauty</li>
					<li>SALE</li>
				</ul>
			</nav>
			<div><i class="fas fa-search"></i> Search My Account <i class="fas fa-shopping-bag"></i> (0)</div>
		</div>
	</div>
</header>
<main>
	<div style="width: 45%">
		<div class="form-input">
			<input type="text" class="error" placeholder="Full name" />
			<small class="error-label">This field is required.</small>
		</div>
		<div class="form-input">
			<input type="text" class="error" placeholder="Full name" />
			<small class="error-label">This field is required.</small>
		</div>
		<button class="btn-primary">Test</button>
		<button class="btn-default">Test</button>
	</div>
</main>
<footer>
	<div class="shop-links">
		<div>
			<h3>Customer Service</h3>
			<ul>
				<li>Contact Us</li>
				<li>Help</li>
				<li>Shipping & delivery</li>
			</ul>
		</div>
		<div>
			<h3>Customer Service</h3>
		</div>
	</div>
	<div class="info-links">
		<div>Connect with us: 
			<div class="social-link"><i class="fab fa-facebook-f" aria-hidden="true"></i></div>
			<div class="social-link"><i class="fab fa-twitter" aria-hidden="true"></i></div>
			<div class="social-link"><i class="fab fa-instagram" aria-hidden="true"></i></div>
			<div class="social-link"><i class="fab fa-pinterest-p" aria-hidden="true"></i></div>
			<div class="social-link"><i class="fab fa-youtube" aria-hidden="true"></i></div>
		</div>
		<div class="payment">
			<div class="icon"><i class="fab fa-cc-mastercard" aria-hidden="true"></i></div>
			<div class="icon"><i class="fab fa-cc-visa" aria-hidden="true"></i></div>
			<div class="icon"><i class="fab fa-cc-paypal" aria-hidden="true"></i></div>
			<div class="icon"><i class="fab fa-cc-amex" aria-hidden="true"></i></div>
		</div>
	</div>
	<div class="legal">
		<a href="">Privacy</a>
		<a href="">Terms & Conditions</span>
		<a href="">Disclaimer</span>
	</div>
</footer>
</body>
</html>