$moon-spots: #999;

body {
	background-color: #e5e5e5;
}

.stage {
	position: relative;
	width: 100%;
	height: 400px;
	overflow: hidden;
	background-color: #222;
	perspective: 1000px;	
}

.moon {
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
    background: #ccc;
    left: 0;
    right: 0;
    margin: auto;

    &:after {
    	content: "";
	    width: 20px;
	    height: 20px;
	    position: absolute;
	    top: 20px;
	    left: 20px;
	    background-color: $moon-spots;
	    border-radius: 50%;
	    box-sizing: border-box;
	    box-shadow: 10px 30px 0px  -3px $moon-spots,
	    			40px 30px 0px  3px $moon-spots;
    }
}

.hills {
	box-sizing: border-box;
	animation: slide-left 1s;
	position: absolute;
	width: 100%;
	height: 200px;
	margin: 0;
	padding: 0;
	background-image: url('../hills.svg');
	background-repeat: repeat-x; 
	background-position: 0px 0px;

	animation: animatedBackground 10s linear infinite;
	animation-play-state: paused;

	&.animate {
		animation-play-state: running;
	}
}

.ball {
	position: absolute;
	bottom: 40px;
	width: 170px;
	height: 170px;
	background: radial-gradient(circle at 25% 25%, red, #000);
	border-radius: 50%;
	animation: rotate 3s linear infinite;
	animation-play-state: paused;

	&.animate {
		animation-play-state: running;
	}
}

.field {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 150px;
	background-color: #222;
	margin: 0;
	padding: 0;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: -900px 0; }
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@function move-to-left() {

}