@mixin box() {
	background-color: red;
	width: 100px;
	height: 100px;
}

.background-transtion {
	@include box();
	transition: 1s;
	transition-delay: 0.5s;
	
	&:hover {
		background-color: blue;
	}
}

.multiple-transitions {
	display: flex;
	flex-wrap: wrap;
	width: 300px;

	.box {
		@include box();
		margin: 2px;
		transition: all 1s, height 2s; //defining specific transtions of properties overrides all

		&:hover {
			background-color: blue;
			height: 150px;
			transform: skew(30deg, 20deg);
		}
	}
}

.transform-scale {
	transition: 1s;
	background-color: red;
	width: 100px;
	height: 100px;

	&:hover {
		transform: scale(0.5);
	}
}

.rotate-continous {
	@include box();
	animation: rotate 3s linear infinite;
	animation-play-state: running;

	&:hover {
		animation-play-state: paused;
	}

	@keyframes rotate {
		from {
			transition: rotate(0deg)
		}
		to {
			transform: rotate(360deg);
		}
	}
}

.multiple-backgrounds {
	@include box;
	animation: color-change 5s ease-in-out infinite;

	@keyframes color-change {
		0% {
			background-color: red;
		}
		25% {
			background-color: pink;
		}
		50% {
			background-color: cyan;
		}
		75% {
			background-color: lightblue;
		}
		100% {
			background-color: blue;
		}
	}
}
